# Entorno virtual
.venv/
venv/
.env
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables sensibles
.env
.env.*

# Logs
*.log

# Base de datos local
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Builds
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

Lib